* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding-top: 75px;
	background-color: #111211;
	font-family: 'Merriweather', serif;
	color: white;
} 


.social-link {
	width: 40px;
	height: 40px;
}